{% extends 'base.html' %}
{% block content %}

<div class="container center-align">
<h1> My Events</h1>
</div>

<div class="row">


{% for event in events %}

<div class="container center-align">
    <div class="card hoverable blue lighten-5">
        <div class="card-content blue lighten-4"> 
<h4>{{ event.name }}</h4>
<img src="{{ event.image }}" alt="artistimage">
<br>
<a href="{{ event.tickets }}">Tickets</a>
<h6>{{ event.location }}</h6>
<h6>{{ event.city }}</h6>
<a href="{{ event.url }}">BandsInTown</a>
<br>
<a class="btn blue darken-4" href="{% url 'event_delete' event.id %}">Delete</a>

        </div>
    </div>
</div>
</div>
<form action="{% url 'add_photo' event.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
    {% csrf_token %}
    <input type="file" name="photo-file">
    <br><br>
    <input type="submit" class="btn" value="Upload Photo">
  </form>
{% endfor %}

{% endblock %}