{% extends 'base.html' %}
{% block content %}

<div class="container center-align">
<h1> My Artists</h1>
</div>



<div class = "row">
    {% for artist in artists %}

<div class="container center-align col s4">

 

<div class="card hoverable grey lighten-3" style='border: 2px solid blue; border-radius: 15px;''>
    <div class="card-content blue lighten-3" style= 'border-radius: 15px;'>   
<p>{{ artist.name }} </p>
    </div>
<p>{{ artist.bio }} </p>


<div class="card-content">
    <a class="btn blue darken-4" href="{% url 'artist_delete' artist.id %}">Delete</a>
</div>
</div>
</div>


{% endfor %}
</div>

{% endblock %}

