{% extends 'base.html' %}
{% block content %}

<div class="container center-align">
<h1> My Artists</h1>
</div>

<div class = "row">

{% if artist %}
{% for artist in artists %}
<div class="container center-align">
    <div class="card hoverable blue lighten-5">
        <div class="card-content blue lighten-4"> 
<h1>{{ artist.name }}</h1>
        </div>
    </div>
</div>
</div>
<a class="btn" href="{% url 'artist_delete' artist.id %}">Delete</a>
{% else %}
<h1>You have no artists currently saved</h1>
{% endif %}
{% endfor %}
{% endblock %}

