{% extends 'base.html' %}
{% block content %}

<div class='container center-align'>
    <img class="center-align" src="https://i.imgur.com/TCLArPG.png" title="source: imgur.com" width="250" height="190"/>
    <p style="font-size:60%;"> All Rights Reserved, &copy; 2020 Sky-Hawk Inc</p>
</div>

<p>With this app, keeping tabs on your favorite local artists just got a lot easier. Simply create an account and search events or artists in your area. Add your favorite artists and keep track of their upcoming events. Add their events to your schedule. Never miss out on you favorite events again.</p>

<hr>
<div class='container center-align'>
    <table>
        
    <tr>
        
        <td><img src="https://i.imgur.com/yX4Sn9r.jpg" title="source: imgur.com" height="160" width="160" /></td>
        <td><img src="https://i.imgur.com/MmBIZ7S.png" title="source: imgur.com" height="160" width="160" /></td>
        <td><img src="https://i.imgur.com/hIp8tu5.png" title="source: imgur.com" height="160" width="160" /></td>
    </tr>

    <tr>
        <td><p>Andrew Smith</p></td>
        <td><p>Dustin Coffman</p></td>
        <td><p>Naomi Skevofilax</p></td>
    </tr>

    <tr>
        <td> <a href='https://www.linkedin.com/in/ajs3993/'>LinkedIn</a></td>
        <td> <a href='https://www.linkedin.com/in/dustin-coffman/'>LinkedIn</a></td>
        <td> <a href='https://www.linkedin.com/in/naomi-skevofilax/'>LinkedIn</a></td>
    </tr>
    
    <tr>
        <td><a href='https://github.com/AJS3993'>Github</a></td>
        <td><a href='https://github.com/DustinAnthonyCoffman'>GitHub</a></td>
        <td> <a href='https://github.com/naomiskevo'>Github</a></td>
    </tr>
</table>
</div>

{% endblock %}    