{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Groupie</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://ticketmaster-api-staging.github.io/products-and-docs/widgets/event-discovery/1.0.0/lib/main-widget.js" defer></script>
  <script async src="https://platform-api.sharethis.com/js/sharethis.js#property=5e08b8f8de9d4c0012d1058a&product=sticky-share-buttons"></script>
</head>
<body>
  <header class="navbar-fixed">
    <nav class="blue darken-4">
      <div class="nav-wrapper">
        <ul>
          <li><a href="/" style='font-family: verdana' class="left brand-logo">&nbsp;&nbsp;Groupie&nbsp;&nbsp;</a></li>
        </ul>
        <ul class="right">
          <li><a href="/about">About</a></li>
          {% if user.is_authenticated %}
            <li><a href="/artists">My Artists</a></li>
            <li><a href="/events">My Events</a></li>
            <li><a href="{% url 'logout' %}">Log Out</a></li>
          {% else %}
            <li><a href="{% url 'signup' %}">Sign Up</a></li>  
            <li><a href="{% url 'login' %}">Log In</a></li>  
          {% endif %}  
        </ul>
      </div>
    </nav>
  </header>
  <main class='grey lighten-5'>
    {% block content %}
    {% endblock %}
  </main>
  <footer class="blue darken-4" class="page-footer">
    <div class="center">
        <span class="blue darken-4">All Rights Reserved, &copy; 2020 Sky-Hawk Inc &nbsp;</span>
    </div>
  </footer>
</body>
</html>