{% extends 'base.html' %}
{% block content %}




<h1>{{ artist.name }}</h1>

<img class="materialboxed" id="artist-img" width="650" src="{{ artist.image_url }}" alt="artist">  
{% for info in events %}
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ info.venue.name }}</span>
            <p>Location: {{ info.venue.city }} {{ info.venue.region }}</p>
            <p>Date/Time {{ info.datetime }}</p> 
            <button><a href="/events">Add Event</a></button>
        </div>
    </div>


{% endfor %}
{% endblock %}