{% extends 'base.html' %}
{% block content %}



    <h1>Browse Artists</h1>
<br><br><br>

    <div class="container" style='width:40%'>
    <form class="search-box" action="detail" method="POST">
        {% csrf_token %}
        <input type="text" name='name_field' style="opacity: 0.5;"class="blue-grey lighten-4">
        <input type="submit" value="Submit" class="btn blue-grey darken 2">
    </form>
</div>

<div w-type="event-discovery" w-tmapikey="VN3z590lf4nzKObwvWNHmCnXUwY7WU6j" w-googleapikey="YOUR_GOOGLE_API_KEY" w-keyword="Music" w-theme="simple" w-colorscheme="light" w-width="350" w-height="600" w-size="25" w-border="0" w-borderradius="4" w-radius="25" w-period="day" w-layout="horizontal" w-attractionid="" w-promoterid="" w-venueid="" w-affiliateid="" w-segmentid="" w-proportion="custom" w-titlelink="off" w-sorting="groupByName" w-id="id_771k8" w-source="" w-branding="Ticketmaster" w-latlong="34.0390107,-118.2672801"></div>
{% endblock %}    