body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url(https://freedesignfile.com/upload/2016/10/Cheering-crowd-at-a-rock-concert-HD-picture-09.jpg);
  }

  main {
    flex: 1 0 auto;
  }

  nav{
      color: aliceblue;
  }

  footer {
      color: aliceblue;
  }
  
  footer.page-footer {
    padding-top: 0;
  }
