body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  nav{
      color: aliceblue;
  }

  footer {
      color: aliceblue;
  }
  
  footer.page-footer {
    padding-top: 0;
  }


.groupietitle {
  font-family: 'Archivo Black', sans-serif;
}

.groupieevent {
  font-size: x-large;
  font-family: 'Archivo Black', sans-serif;
}

.eventtitle {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}