body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  nav{
      color: aliceblue;
  }

  footer {
      color: aliceblue;
  }
  
  footer.page-footer {
    padding-top: 0;
  }

